<!-- src/templates/pages/home.html -->

{% extends "base.html" %}

{% block title %}Expense Tracker - Home{% endblock title %}

{% block content %}
  <div class="container w-11/12 mt-44 mx-auto">
    <h1 class="font-header-3 font-bold text-center">Welcome to Expense Tracker</h1>
    <p class="text-lg text-center mb-8">Track your expenses and stay on top of your finances</p>
    {% if not user.is_authenticated %}
    <div class="flex flex-col lg:flex-row justify-center w-9/12 mx-auto">
      <a href="{% url 'accounts:login' %}" class="btn btn-primary lg:w-20 mt-4 mb-2 lg:my-0 lg:mr-4">Login</a>
      <a href="{% url 'accounts:signup' %}" class="btn btn-secondary lg:w-20 mt-2 mb-4 lg:my-0 lg:ml-4">Signup</a>
    </div>
    {% endif %}
  </div>
{% endblock content %}