{% extends 'base.html' %}
{% load static %}

{% block title %}Transações{% endblock %}

{% block content %}
<div class="mx-auto p-4">
    <!-- Botões -->
    <div class="flex max-w-4xl justify-between mb-4">
        <button id="add-transaction-btn" class="btn btn-primary w-32 mr-5">Adicionar</button>
        <button id="view-transactions-btn" class="btn btn-secondary w-32 ml-5">Ver</button>
    </div>

    <!-- Pop-up para adicionar transação -->
    <div id="add-transaction-modal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-base-100 w-96 p-6 rounded-lg shadow-3xl">
            <h2 class="font-base text-xl font-bold mb-4">Adicionar Transação</h2>
            <form id="transaction-form">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="description" class="block text-sm font-medium text-base-100-content">Descrição</label>
                    <input type="text" id="description" name="description" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div class="mb-4">
                    <label for="amount" class="block text-sm font-medium text-base-100-content">Valor</label>
                    <input type="number" id="amount" name="amount" step="0.01" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div class="mb-4">
                    <label for="date" class="block text-sm font-medium text-base-100-content">Data</label>
                    <input type="date" id="date" name="date" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div class="mb-4">
                    <label for="payment_method" class="block text-sm font-medium text-base-100-content">Método de Pagamento</label>
                    <select id="payment_method" name="payment_method" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                        <option value="dinheiro">Dinheiro</option>
                        <option value="debito">Débito</option>
                        <option value="pix">Pix</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="transaction_type" class="block text-sm font-medium text-base-100-content">Tipo de Transação</label>
                    <select id="transaction_type" name="transaction_type" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                        <option value="income">Receita</option>
                        <option value="expense">Despesa</option>
                        <option value="transfer">Transferência</option>
                    </select>
                </div>
                <div class="flex justify-end space-x-2">
                    <button type="button" id="cancel-btn" class="btn btn-secondary x-4 py-2 rounded">Cancelar</button>
                    <button type="submit" class="btn btn-success px-4 py-2 rounded">Salvar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Pop-up para visualizar transações -->
    <div id="view-transactions-modal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-base-100  p-6 rounded-lg w-3/4">
            <h2 class="text-xl font-bold mb-4">Transações</h2>
            <table id="transactions-table" class="w-full">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Descrição</th>
                        <th class="px-4 py-2">Valor</th>
                        <th class="px-4 py-2">Data</th>
                        <th class="px-4 py-2">Método de Pagamento</th>
                        <th class="px-4 py-2">Tipo de Transação</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dados serão preenchidos via JavaScript -->
                </tbody>
            </table>
            <div class="flex justify-end mt-4">
                <button id="close-view-modal-btn" class="btn btn-secondary px-4 py-2 rounded">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/transactions.js' %}"></script>
{% endblock %}