{% extends "base.html" %}
{% load i18n %}

{% block title %}Contextual AI Bot{% endblock title %}

{% block content %}
<div class="flex flex-col h-[calc(100vh_-_68px)] justify-start mt-20">
    <div class="flex flex-col justify-center mx-auto p-8">
        <h2 class="text-primary text-4xl text-center font-extrabold mb-6">
            {% trans "Change Password" %}
        </h2>
        <div class="text-center">
            <p class="text-lg">{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
    <div class="flex justify-center mb-8">
        <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-wide">Login</a>
    </div>
</div>
{% endblock content %}