{% extends "base.html" %}

{% load i18n %}

{% block title %}Contextual AI Bot{% endblock title %}

{% block content %}
<div class="flex flex-col h-[calc(100vh_-_68px)] justify-start">
    <div class="flex flex-col justify-center mx-auto py-8 w-10/12 sm:w-96">
        <h2 class="text-primary text-4xl text-center font-extrabold mb-6">Password Reset</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-error" role="alert">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <ul>
                                <li><span class="marker">&#x2716;</span>{% blocktranslate %}{{ error }}{% endblocktranslate %}</li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.non_field_errors %}
                <div class="alert alert-error" role="alert">
                    {% for errors in form.non_field_errors %}
                        {% for error in errors %}
                            <ul>
                                <li><span class="marker">&#x2716;</span>{% blocktranslate %}{{ error }}{% endblocktranslate %}</li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="mb-4">
                <label for="id_email" class="label justify-start">{% translate "Email address" %}<span class="asteriskField">*</span></label>
                <input type="email" name="email" maxlength="254" autofocus class="input input-bordered w-full rounded" required id="id_email"/>
            </div>

            <div class="flex items-center justify-between">
                <button type="submit" class="btn btn-primary mx-auto">{% translate "Reset" %} Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
