{% extends "base.html" %}
{% load i18n %}

{% block title %}Contextual AI Bot{% endblock title %}

{% block content %}
<div class="flex flex-col h-[calc(100vh_-_68px)] justify-start">
    <div class="flex flex-col justify-center mx-auto p-8">
        <h2 class="text-primary text-4xl text-center font-extrabold mb-6">{% translate "Password Reset Successful" %}</h2>
        <p class="text-center text-lg text-gray-300 mb-8">
            {% translate "Your password has been successfully reset." %}
        </p>
        <a href="{% url 'login' %}" class="btn btn-primary w-full">{% translate "Return to Login" %}</a>
    </div>
</div>
{% endblock content %}
