{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Contextual AI Bot{% endblock title %}

{% block content %}
<div class="flex flex-col h-[calc(100vh_-_68px)] justify-start">
    <div class="flex flex-col justify-center mx-auto p-8">
        <div class="mt-8 prose prose-slate mx-auto w-full md:max-w-screen-sm lg:prose-lg">
            <h2 class="text-primary text-4xl text-center font-extrabold mb-6">{% translate "Password Reset Request Submitted" %}</h2>
            <p class="text-center text-lg text-gray-300 mb-8">
                {% translate "An email with instructions on how to reset your password has been sent to your email address." %}
            </p>
            <p class="text-center text-lg text-gray-300 mb-8">
                {% translate "Please check your inbox and follow the provided instructions to complete the password reset process." %}
            </p>
        </div>
        <div class="flex items-center justify-cente mt-8r">
            <a href="{% url 'login' %}" class="btn btn-primary mx-auto w-1/2 md:w-96">{% translate "Return to" %} Login</a>
        </div>
    </div>
</div>
{% endblock content %}
