{% extends "base.html" %}
{% load i18n %}

{% block title %}Contextual AI Bot{% endblock title %}

{% block content %}
<div class="flex flex-col h-[calc(100vh_-_68px)] justify-start">
    <div class="flex flex-col justify-center mx-auto p-8">
        <h2 class="text-primary text-4xl text-center font-extrabold mb-6">{% translate "Change Your Password"%}</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-error" role="alert">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <ul>
                                <li><span class="marker">&#x2716;</span>{% blocktranslate %}{{ error }}{% endblocktranslate %}</li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="mb-4">
                <label for="id_old_password" class="label justify-start">{% translate "Old Password" %}<span class="asteriskField">*</span></label>
                <input type="password" name="old_password" autocomplete="current-password" class="input input-bordered w-full rounded" required id="id_old_password"/>
            </div>
            <div class="mb-4">
                <label for="id_new_password1" class="label justify-start">{% translate "New Password" %}<span class="asteriskField">*</span></label>
                <input type="password" name="new_password1" autocomplete="new-password" class="input input-bordered w-full rounded" required id="id_new_password1"/>
                <label class="label">
                    <span id="hint_id_new_password1" class="label-text-alt">
                        <ul>
                            <li>{% translate "Your password can't be too similar to your other personal information." %}</li>
                            <li>{% translate "Your password must contain at least 8 characters." %}</li>
                            <li>{% translate "Your password can't be a commonly used password." %}</li>
                            <li>{% translate "Your password can't be entirely numeric." %}</li>
                        </ul>
                    </span>
                </label>
            </div>
            <div id="div_id_new_password2" class="mb-3">
                <label for="id_new_password2" class="label justify-start">{% translate "Confirm New Password" %}<span class="asteriskField">*</span></label>
                <input type="password" name="new_password2" autocomplete="new-password" class="input input-bordered w-full rounded" required id="id_new_password2">
                <label class="label">
                    <span id="hint_id_new_password2" class="label-text-alt">
                        {% translate "Enter the same password as before, for verification." %}
                    </span>
                </label>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="btn btn-primary">{% translate "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
