{% extends "account/email/base_notification.html" %}
{% load i18n %}

{% block notification_message %}
    <div style="margin-bottom: 24px;">
        <p style="font-size: 18px; color: #151516; line-height: 1.6;">
            {% blocktrans %}Your password has been successfully changed.{% endblocktrans %}
        </p>
    </div>

    <div style="margin-top: 24px; text-align: center;">
        <p style="font-size: 16px; color: #151516; line-height: 1.6;">
            {% blocktrans %}
                If you did not make this change, please contact our support team immediately.
            {% endblocktrans %}
        </p>
    </div>
{% endblock notification_message %}
