{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block content %}
    <div class="email-body">
        <h2 style="text-align: center; color: #0073e6;">{% trans "Reset Your Password" %}</h2>
        <p>
            {% blocktranslate %}
                You're receiving this email because you or someone else has requested a password reset for your user account.
                It can be safely ignored if you did not request a password reset. Click the button below to reset your password.
            {% endblocktranslate %}
        </p>
        <div style="text-align: center; margin-top: 24px;">
            <a href="{{ password_reset_url }}" class="confirm-button" style="display: inline-block; background-color: #0073e6; color: #ffffff; padding: 12px 24px; font-weight: 600; border-radius: 12px; text-decoration: none;">
                {% trans "Reset Password" %}
            </a>
        </div>
        {% if username %}
            <p style="margin-top: 24px;">
                {% blocktranslate %}In case you forgot, your username is <strong>{{ username }}</strong>.{% endblocktranslate %}
            </p>
        {% endif %}
    </div>
{% endblock content %}
